/* Подключение fonts */

@font-face {
    font-family: 'Segoe UI Regular';
    src: url('./../fonts/SegoeUI.eot');
    src: url('./../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/SegoeUI.woff') format('woff'),
    url('./../fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Semibold';
    src: url('./../fonts/SegoeUI-SemiBold.eot');
    src: url('./../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/SegoeUI-SemiBold.woff') format('woff'),
    url('./../fonts/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url('./../fonts/SegoeUI-Bold.eot');
    src: url('./../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/SegoeUI-Bold.woff') format('woff'),
    url('./../fonts/SegoeUI-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
    letter-spacing: -0.01em;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
}

i {
    font-style: normal;
}

.like, .delete {
    cursor: pointer;
}

.liked svg path {
    fill: #CB11AB;
}

.like svg path, .delete svg path {
    transition: .2s;
}

.like:hover svg path,
.like:focus svg path {
    fill: #CB11AB;
}

.delete:hover svg path,
.delete:focus svg path {
    fill: #F55123;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

/*  HEADER  */

body > header {
    display: flex;
    align-items: center;
    padding: 20px 24px;
    max-width: 1400px;
    margin: 0 auto;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_left > a {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-variant: small-caps;
    margin-left: 16px;
    width: 107px;
}

#search_mobile {display: none;}

.burger {
    position: relative;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
}

.burger > span {
    position: absolute;
    height: 4px;
    width: 28px;
    border-radius: 2px;
    display: inline-block;
    background-color: #fff;
    left: 9px;
    top: 11px;
}

.burger > span:nth-child(2) {
    top: 21px;
}

.burger > span:nth-child(3) {
    top: 31px;
}

.header_search {
    padding: 0 32px;
}

.header_right > ul {
    display: flex;
}

.header_right > ul li a {
    position: relative;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_right > ul li:nth-child(1) {
    margin-right: 40px;
}

.header_right > ul li p {
    font-size: 13px;
    line-height: 16px;
    margin-top: 11px;
}

.header_right > ul li:nth-child(2) p {
    margin-top: 8px;
}
.cart a span {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 3px;
    min-width: 16px;
    height: 16px;
    background: #F55123;
    border-radius: 16px;
    transform: matrix(1, 0, 0, 1, 0, 0);

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
}

.header_search, .header_search label {
    width: 100%;
    display: block;
    position: relative;
}

#search {
    position: absolute;
    top: 14px;
    right: 22px;
}

.header_search input[type="search"] {
    height: 48px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 36px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.5;
    color: #FFFFFF;
    border: none;
    width: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

.header_search input[type="search"]::-webkit-input-placeholder {
    opacity: 0.5;
    color: #FFFFFF;
}

@media screen and (max-width: 756px) {
    .header_right {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .header_search {
        display: none;
    }

    #search_mobile {
        display: inline-block;
    }

    .header_left {
        width: 100%;
        justify-content: space-between;
    }

    .header_left > a {
        margin-left: 0;
        width: auto;
        font-weight: 600;
        font-size: 26px;
        line-height: 24px;
        text-transform: uppercase;
    }

    .header_left > a br {display: none;}

    .burger {
        width: 22.5px;
        height: 18.5px;
        border: none;
    }

    .burger > span {
        width: 22.5px;
        height: 2.5px;
        top: 0;
        left: 0;
    }

    .burger > span:nth-child(2) {
        top: 8px;
    }

    .burger > span:nth-child(3) {
        top: 16px;
        width: 16.5px;
    }
}

/*  MAIN  */

.main-wrapper {
    display: flex;
    justify-content: space-between;
}

.main {
    background-color: #F6F6FA;
    border-radius: 23px;
    padding: 22px 0;
}

.main-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 24px;
}

main {
    width: 62%;
    margin-top: 12px;
}

.selected_header {
    padding: 18px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected_header label {
    display: flex;
    align-items: center;
}

.checkbox {
    cursor: pointer;
}

.checkbox h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

#selected_section__p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    display: none;
}

.checkbox span {
    width: 22px;
    height: 22px;
    min-width: 22px;
    display: inline-block;
    background-image: url(./../images/checkbox_nonselected.svg);
    margin-right: 11px;
}

.checkbox input:checked + span {
    background-image: url(./../images/checkbox_selected.svg);
}

.selected_header > i {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 9.6px;
    background-image: url(./../images/arrow-selected-section.svg);
}

article.item {
    padding: 11px 0 21px;
    display: flex;
    justify-content: space-between;
}

.item_left {
    display: flex;
}

.item_left .checkbox {
    padding-top: 35px;
}

.item_left img {
    width: 72px;
    height: 96px;
    object-fit: cover;
}

.item_left header {
    margin-left: 16px;
    max-width: 275px;
}

.item_left header h3.title_mobile {
    display: none;
}

.item_left header h3 a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
} 

.item_left header ul {
    display: flex;
    margin: 8px 0;
}

.item_left header li {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-right: 16px;
}

.item_left header span {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A4;
}

.size_mobile {
    display: none;
}

.item_left header span.company {
    display: flex;
    margin-top: 6px;
    position: relative;
    cursor: pointer;
}

.item_left header span.company i {
    margin-left: 6px;
    display: inline-block;
    width: 20px;
    height: 20px;
    min-width: 20px;
    background-image: url(./../images/info.svg);
}

.item_right {
    display: flex;
    width: 226px;
}

.item_right > ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.item_right__counter {
    border-radius: 8px;
    overflow: hidden;
    height: 44px;
}

.item_right__counter label {
    display: flex;
}

.item_right__counter input {
    border: none;
    width: 44px;
    height: 44px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;

}

.item_right__counter button {
    border: none;
    background-color: #FFFFFF;
    padding: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    cursor: pointer;
    outline: none;
}

.item_right__counter button:disabled,
.item_right__counter button[disabled] {
    color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
}

.item_right__count .total_count {
    margin: 8px 0 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FF3B30;
    display: inline-block;
}

.item_right__count {
    width: 120px;
}

.item_right__count ul {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
}

.item_right__count ul li i {
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.item_right__count ul li:nth-child(1) {
    margin-right: 16px;
}

.item_right__count ul li object {
    cursor: pointer;
}

.item_right__price .price {
    text-align: right;
}

.item_right__price .price, .item_left_price .price {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000 !important;
    margin-bottom: 6px;
}

.item_right__price .price span, .item_left_price .price span {
    line-height: 28px;
    color: #000000 !important;
    font-weight: 700 !important; 
}

.item_right__price .total_price, .item_left_price .total_price {
    position: relative;
    padding: 0 0 1px 0;
    border-bottom: 1px dashed #A0A0A4;
    color: #A0A0A4;
    text-decoration:line-through;
    width: max-content;
    cursor: pointer;
}

.item_left_price {
    display: none;
    align-items: baseline;
}

.item_left_price .price {
    margin-right: 5px;
}

.selected_section .selected_header i {
    transform: rotate(0deg);
}

.selected_section.open .selected_header i {
    transform: rotate(180deg);
}

.selected_section.open .selected_body {
    height: auto;
    overflow: inherit;
}

.selected_section .selected_body {
    overflow: hidden;
    transition: .4s;
    height: 0px;
}

.selected_section__missing h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.selected_section__missing article.item .item_right__price {
    opacity: 0;
    pointer-events: none;
}

.selected_section__missing article.item .item_left header h3 a,
.selected_section__missing article.item .item_left header li {
    color: #A0A0A4;
}

.delivery, .payment_type, .recipient {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 16px 24px 24px;
    margin: 16px 0;
}

.delivery_head, .payment_type__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.delivery_head h2, .payment_type__head h2, .recipient_head h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.delivery_head p, .payment_type__head p {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #CB11AB;
    cursor: pointer;
}

.delivery_body ul li {
    display: flex;
    margin-bottom: 16px;
}

.delivery_body ul li p.head {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    width: 175px;
}

.delivery_body ul li p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.delivery_body ul li p span {
    font-size: 13px;
    line-height: 16px;
}

i.star {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-size: 12px;
    background-position: center;
    background-image: url(./../images/star.svg);
}

.delivery_body ul li ul {
    display: flex;
    flex-wrap: wrap;
}

.delivery_body ul li ul li {
    margin-right: 8px;
    position: relative;
}

.delivery_body ul li ul li img {
    width: 40px;
    height: 56px;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
}

.delivery_body ul li ul li span {
    position: absolute;
    min-width: 16px;
    height: 16px;

    top: -8px;
    right: 0;

    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #F55123;
    border-radius: 16px;
    padding: 4px;
}

.delivery_info {
    margin-top: 10px;
    font-size: 13px;
    color: #000000;
    display: flex;
    align-items: center;
    position: relative;
}

.delivery_info i {
    display: inline-block;
    min-width: 22px !important;
    height: 22px !important;
    background-image: url(./../images/price_shipping.svg) !important;
    margin-right: 8px !important;
    background-size: 22px !important;
}

.delivery_info span {
    display: inline-block;
    color: #0CB477;
    border-bottom: 1px dashed rgba(12, 180, 119, 0.3);
    padding-bottom: 1px;
    cursor: pointer;
}

#payment_type__card {
    display: flex;
    align-items: center;
}

#payment_type__card img {
    width: 32px;
    height: 24px;
    object-fit: cover;
}

#payment_type__card p:nth-child(2) {
    margin: 0 12px 0 8px;
}

.payment_type__body > p {
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A4;
    margin-top: 8px;
}

.recipient_body {
    margin-top: 30px;
}

.recipient_body input[type="text"],
.recipient_body input[type="mail"],
.recipient_body input[type="tel"] {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 3px 0;
    color: #000000;
    font-size: 16px;
    font-family: 'Segoe UI';
    width: 100%;
    background-color: transparent !important;
}

.recipient_body input[type="text"]::placeholder,
.recipient_body input[type="mail"]::placeholder,
.recipient_body input[type="tel"]::placeholder {
    color: #A0A0A4;
}

.recipient_body > div {
    display: flex;
    justify-content: space-between;
}

.recipient_body > div:nth-child(1) label {
    width: 48.5%;
}

.recipient_body > div:nth-child(2) label {
    width: 31.5%;
}

.recipient_body label {
    position: relative;
    margin-bottom: 35px;
}

.recipient_body label span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 24px;
    color: #A0A0A4;
    pointer-events: none;
    transition: .2s;
}

.recipient_body label p {
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.recipient_body input:focus + span, span.active {
    top: -30px !important;
    font-size: 13px !important;
}

.recipient_body label.error span, .recipient_body label.error p,
.recipient_body label.error input[type="text"] {
    color: #F55123;
    border-color: #F55123;
}

/*  ASIDE  */

aside {
    padding: 16px 24px 24px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 16px;

    width: 33%;
    height: max-content;
}

.aside_total li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 3px;
}

.aside_total_header {
    margin-bottom: 8px;
}

.aside_total_header p {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.aside_total_header p span {
    font-size: 24px;
    line-height: 32px;
}

.aside_section {
    margin-top: 24px;
}

.aside_section i {
    display: inline-block;
    background-image: url(./../images/pen.svg);
    background-size: 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.aside_delivery_section__head, .aside_payment_section__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.aside_delivery_section__head h3, .aside_payment_section__head h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.aside_delivery_section__body .date {
    font-size: 13px;
    line-height: 16px;
    color: #CB11AB;
    padding-bottom: 1px;
    border-bottom: 1px dashed rgba(203, 17, 171, 0.3);
    width: max-content;
    margin: 4px 0 13px;
}

.aside_delivery_section__body .delivery_info {
    background: #F6F6FA;
    border-radius: 8px;
    padding: 8px;
}

#aside_card_selected {
    display: flex;
    align-items: center;
    margin: 4px 0 12px;
}

#aside_card_selected img {
    width: 32px;
    height: 24px;
    object-fit: cover;
}

#aside_card_selected p {
    font-size: 13px;
    line-height: 16px;
    margin-left: 8px;
}

.aside_payment_info {
    background: #F6F6FA;
    border-radius: 8px;
    padding: 8px;
}

.aside_payment_info .checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.aside_payment_info h3 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.aside_payment_info > p {
    font-size: 13px;
    line-height: 16px;
}

.btn-wrapper button {
    font-family: 'Segoe UI';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: block;
    text-align: center;
    width: 100%;
    padding: 12.5px 32px;
    border: none;
    outline: none;
    background: #CB11AB;
    border-radius: 8px;
    cursor: pointer;
    margin: 24px 0 12px;
}

.btn-wrapper i {
    display: inline-block;
    min-width: 12.51px;
    height: 10.16px;
    background-image: url(./../images/policy.svg);
    margin-right: 8px;
}

.policy p, .policy p a {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.policy p a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.policy {
    display: flex;
    align-items: baseline;
}

@media screen and (max-width: 900px) {
    .main-wrapper {
        flex-direction: column;
    }

    main, aside {width: 100%;}
}

@media screen and (max-width: 650px) {
    .main-wrapper {
        padding: 0;
    }
    .main {
        padding: 0;
    }
    .delivery, .payment_type, .recipient {
        padding: 12px 16px 24px;
    }
    aside {
        padding: 16px 16px 24px;
        background: none;
        box-shadow: none;
    }
    .selected_section, h1 {
        padding: 0 16px;
    }
    article.item {
        flex-direction: column;
    }
    .item_left {
        position: relative;
    }
    .item_right {
        width: 100%;
    }
    .item_right__price {
        display: none;
    }
    .item_right__count {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
    }
    .item_left img {
        width: 80px;
        height: 106px;
    }
    .item_left .checkbox {
        padding-top: 0;
        position: absolute;
        top: 4px;
        left: 4px;
    }
    .item_right__counter, .item_right__counter button, .item_right__counter input {
        height: 32px;
    }
    .item_right__counter input {
        width: 32px;
    }
    .item_right__counter button {
        padding: 6px;
        padding-top: 2px;
    }
    .item_left header h3.title_desktop {
        display: none;
    }

    .item_left header h3.title_mobile {
        display: block;
    }
    .item_left header {
        max-width: 100%;
    }
    .item_left header span.company {
        display: none;
    }
    .selected_section__missing .item_right__count {
        justify-content: end;
    }
    .size_desktop {
        display: none;
    }
    .size_mobile {
        display: block;
        position: absolute;
        bottom: 6px;
        left: 4px;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        width: 22px;
        height: 22px;
        background: #FFFFFF;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .recipient_body > div {
        flex-direction: column;
    }

    .recipient_body > div label {
        width: 100% !important;
    }
    h1 {
        font-size: 20px;
    }
    .item_left header h3 a {
        font-size: 14px;
    }
    .delivery_head h2, .payment_type__head h2, .recipient_head h2 {
        font-size: 20px;
    }
    .delivery_body ul li {
        flex-direction: column;
    }
    .delivery_body ul li ul {
        margin-top: 12px;
    }
    .recipient_body label {
        margin-bottom: 45px;
    }
    .aside_total_header p span {
        font-size: 20px;
    }
    .aside_delivery_section__head, .aside_payment_section__head,
    .aside_delivery_section__body > p, .aside_payment_section__body #aside_card_selected {
        display: none;
    }
    .aside_delivery_section__body .delivery_info, .aside_payment_info {
        background: #F0ECF4;
    }
    .aside_section {
        margin-top: 16px;
    }
    .item_left_price {
        display: flex;
    }
}

/*  FOOTER  */

footer {
    padding: 24px 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 13px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 650px) {
    footer {
        padding: 24px 16px 84px;
    }
}

/*  FIXED NAVIGATION  */

.fixed_nav {
    display: none;
}

@media screen and (max-width: 650px) {
    .fixed_nav {
        display: flex;
        padding: 14px 13px;
        background: #FFFFFF;
        box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2.5px);

        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 0;
        width: 100vw;
    }

    .fixed_nav nav {
        width: 100%;
    }

    .fixed_nav nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fixed_nav nav ul li a {
        position: relative;
        display: inline-block;
        min-width: 28px;
        height: 28px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .fixed_nav nav ul li a span {
        position: absolute;
        z-index: 1;
        top: -5px;
        right: -6px;
        min-width: 16px;
        height: 16px;
        background: #F55123;
        border-radius: 16px;
        transform: matrix(1, 0, 0, 1, 0, 0);

        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 700;
        font-size: 10px;
        line-height: 18px;
    }

    .fixed_nav nav ul li:nth-child(1) a {
        background-image: url(./../images/fixed_nav/home.svg);
    }

    .fixed_nav nav ul li:nth-child(2) a {
        background-image: url(./../images/fixed_nav/catalog.svg);
    }

    .fixed_nav nav ul li:nth-child(3) a {
        background-image: url(./../images/fixed_nav/cart.svg);
    }

    .fixed_nav nav ul li:nth-child(4) a {
        background-image: url(./../images/fixed_nav/liked.svg);
    }

    .fixed_nav nav ul li:nth-child(5) a {
        background-image: url(./../images/fixed_nav/profile.svg);
    }
}

/*  MODAL WINDOWS  */

#modal_payment_outer, #modal_delivery_outer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(5, 0, 10, 0.3);
    z-index: 15;
    opacity: 0;
    pointer-events: none;
    transition: .2s;
}

#modal_payment_outer.open, #modal_delivery_outer.open {
    opacity: 1;
    pointer-events: all;
}

.modal {
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#modal_payment_outer .modal {
    max-width: 400px;
    height: 400px;
    width: 100%;
}

#modal_delivery_outer .modal {
    max-width: 500px;
    min-height: 408px;
    width: 100%;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.modal button {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 7.5px 48px 12.5px;
    background: #CB11AB;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    width: max-content;
    margin-top: 5vh;
}

.modal h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #000000;
}

.modal i {
    min-width: 24px;
    height: 24px;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./../images/close.svg);
    cursor: pointer;
}

.modal_body {
    margin-top: 13px;
}

.modal_body li {
    margin-bottom: 16px;
}

#modal_delivery_outer .modal_body li {
    display: flex;
    justify-content: space-between;
}

.modal_body li label {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.modal_body li label p {
    display: flex;
    align-items: center;
    max-width: 85%;
}

.modal_body li label img {
    width: 32px;
    height: 24px;
    object-fit: cover;
    margin-right: 4px;
}

.modal_body li label span {
    display: inline-block;
    min-width: 20px;
    height: 20px;
    margin-right: 8px;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    background-image: url(./../images/radio_nonselected.svg);
}

input[type="radio"]:checked + span {
    background-image: url(./../images/radio_selected.svg) !important;
}

.modal_selected_type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13px 0 26px;
}

.modal_selected_type li {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border: 2px solid rgba(203, 17, 171, 0.15);
    border-radius: 20px;
    width: 49%;
    padding: 9px 12px 11px;
    white-space: nowrap;
    transition: .2s;
    cursor: pointer;
}

.modal_selected_type li.selected {
    border: 2px solid #CB11AB;
}

#modal_delivery_outer .modal_body ul {
    display: none;
}

#modal_delivery_outer .modal_body ul.selected {
    display: block;
}

#modal_delivery_outer .modal_body ul li {
    display: flex;
    justify-content: space-between;
}

.modal_body h4 {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 12px;
}

.modal_body li label > div .star {
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: baseline;
    margin-top: 4px;
}

.modal_body li label > div .star span {
    color: #A0A0A4;
    margin-left: 4px;
    background-image: none;
}

.modal_body li label > div .star i {
    min-width: 12px;
    height: 12px;
    background-size: 12px;
    background-image: url(./../images/star.svg);
    margin-right: 4px;
}

@media screen and (max-width: 550px) {
    #modal_payment_outer .modal,
    #modal_delivery_outer .modal {
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
    }
    .modal button {width: 100%;}
}

/* TOOLTIP */

@keyframes tooltip {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        pointer-events: all;
    }
}

.tooltip {
    position: absolute;
    padding-top: 25px;
    z-index: 5;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.tooltip:hover {
    opacity: 1;
    pointer-events: all;
    transition: .0s;
}

.tooltip_body {
    padding: 11px 16px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    max-width: 290px;
    z-index: 3;
    cursor: auto;
}

.tooltip h4 {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 8px;
}

.tooltip p, .tooltip span {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.tooltip > p {
    margin-bottom: 8px;
}

.tooltip > p:last-child, .tooltip li:last-child {
    margin-bottom: 0;
}

.tooltip span {
    color: #A0A0A4;
}

.tooltip li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.total_price:hover .tooltip,
.company:hover .tooltip,
.delivery_info:hover .tooltip {
    opacity: 1;
    pointer-events: all;
    transition: .4s;
    transition-delay: .5s;
} 

.total_price .tooltip {
    right: 0;
    width: 240px;
}

.company .tooltip {
    width: 280px;
    left: 0;
}

.delivery_info .tooltip {
    width: 288px;
    right: 0;
    transform: translateX(-31%);
}

aside .delivery_info .tooltip {
    transform: translateX(0);
    transform: translateY(calc(100% - 30px));
    bottom: 0;
    top: auto
}